.manga {
    margin: 5px;
    background-color: white;
}

.manga:hover {
    background-color: azure;
}

.manga-text {
    text-align: center;
    font-size: 16;
}

.manga-card-img {
    min-height: 200px;
}
.manga-title {
    margin-top: 15px;
}